<p style="color: green"><%= notice %></p>

<%= stylesheet_link_tag "index.css", :media => "all" %>

<div class = 'container'>
    <div id = 'header'>
        <h1>My Notes</h1>

        <div id = 'new-post'>
            <%= link_to image_tag("more.png") , new_post_path  %>
        </div>
        
    </div>
    

    <div id="posts">
    
    <% @posts.each do |post| %>
        <div id = 'post-container'>
            <div id = 'post-render'>
                <%=render post%>
            </div>
            
            <p id = 'show'>
            <%= link_to image_tag('view.png'), post %>
            </p>
        </div>    
        
    <% end %>
    </div>

    
</div>

